@import "../node_modules/rfs/scss";

.responsive-text-4 {
    @include font-size(1rem);
}

.styled-card {
    background-color: #fff;
    margin-bottom: "2rem";
    margin-top: "2rem";
    transition: transform 0.2s;
    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }
  }

  .styled-description {
    @include rfs(1rem);
  }